.card {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 35px auto;
  max-width: 600px;
  display: flex;
  justify-content: center;
	align-items: center;
	flex-direction: column;
}

.buttons-wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.stats-table {
  width: 100%;
  border-collapse: collapse;
}

.stats-table th, .stats-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.stats-table th {
  background-color: #f0f0f0;
}

.good {
  color: #2ecc71;
}

.neutral {
  color: #f1c40f;
}

.bad {
  color: #e74c3c;
}

.positive {
  color: #1c7541;
}